---

import MainLayout from "../layouts/MainLayout.astro";
import Heading from '../components/Heading.astro'
---

<MainLayout title="Welcome to Astro.">
	<div class=" grid place-items-center mx-auto text-center">
		<Heading transition:name='heading' title="Una historia de Terror Interactiva"></Heading>
	<button id="play"  class="bg-red-500 text-yellow-800 rounded hover:bg-red-600 transition-all duration-1000 hover:text-red-950 px-10 py-3">Juega la historia</button>
</div>
</MainLayout>
<style></style>
<script>
	const play=document.getElementById('play');
	play.addEventListener('click',()=>{
		window.location.href='/historia';
	})
</script>
